# Logs
logs
*.log

# dependencies
node_modules/
.env

# builds
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# App specific
frontend/node_modules/
backend/node_modules/